/* Brand Theme */
:root {
    --plum: #320E3b;
    --pink: #E56399;
    --blue: #7f96ff;
    --lblue: #A6CFD5;
    --light: #DBFCFF;
    
    --header-height: 60px;
}

* {
    font-family: Verdana, sans-serif;
}

header {
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 50;

    background-color: var(--lblue);
}
body {
    background-color: var(--light);
    display:flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}

main {
    margin-top:var(--header-height);
    height: 80vh;
    width: 75%;
    /* border: 2px dotted orange; */
    display: flex;
    justify-content: center;
}

#question-box {
    /* border: 5px solid blue; */
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 50px 25px;
    border-radius: 50px;
    box-shadow: 0px 1px 5px 0px var(--plum);
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

#quiz-title {
    color: var(--plum);
    /* border: 2px dashed red; */
    margin-bottom: 20px;
}

#question-content {
    text-align: center;
    /* border: 2px solid #7f96ff; */
    margin: 0 0 20px 0;
}




.quiz-btn {
    background-color: var(--plum);
    color: var(--light);
    padding: 2px 7px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    transition: 0.25s;
}

li {
    
    text-align: left;
    list-style-position: inside;
    margin-bottom: 10px;
}

.quiz-btn:hover {
    background-color: var(--pink);
    cursor: pointer;
}
